@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.button {
    margin-top: 0.5rem;
    padding: 6px 16px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    font-family: 'Varela Round', sans-serif;
    border-radius: 6px;
    background-color: rgba(229, 145, 240, 0.7);
}

.button:hover {
    background-color: rgba(229, 145, 240, 1);
}
