@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1rem;
}

.App p {
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
}
